# a sample configuration to run l1-regularized logistic regression
# see src/proto/app.proto for more details

type: RISK_MINIMIZATION
app_name: "proximal_gradient"
parameter_name: "proximal_gradient_weight"


# training {
# format: BIN
# files: "../data/bin/rcv1_Y"
# files: "../data/bin/rcv1_X"
# }

training {
format: PROTO
files: "../data/recordio/rcv1_part_.*"
## <regex> is supported by gcc-4.9, see https://gcc.gnu.org/gcc-4.9/changes.html
## but works on "Apple LLVM version 5.1 (clang-503.0.40) (based on LLVM 3.4svn)"
# files: "../data/recordio/ctr4m_part_[0-3]"
# files: "../data/recordio/ctr4m_part_.*"
}

loss {
type: LOGIT
}

penalty {
type: L1
coefficient: 1
}

learner {
type: PROXIMAL_GRADIENT
learning_rate: .8
}

block_iterator {
example_block_size: -1
feature_block_ratio: 4
max_pass_of_data: 10
max_block_delay: 1
}
