# a sample configuration to run l1-regularized logistic regression
# see src/proto/app.proto for more details

type: RISK_MINIMIZATION
app_name: "proximal_gradient"
parameter_name: "proximal_gradient_weight"


# training {
# format: BIN
# files: "../data/bin/rcv1_Y"
# files: "../data/bin/rcv1_X"
# }

training {
format: PROTO
# files: "../data/recordio/rcv1_part_.*"
files: "../data/recordio/ctr4m_part_[0-1]"
# files: "../data/recordio/ctr4m_part_.*"
}

loss {
type: LOGIT
}

penalty {
type: L1
coefficient: 1
}

learner {
type: PROXIMAL_GRADIENT
learning_rate: .5
}

block_iterator {
example_block_size: -1
feature_block_ratio: 4
max_pass_of_data: 10
max_block_delay: 1
}
