# a sample configuration to run l1-regularized logistic regression
# see src/proto/app.proto for more details

type: RISK_MINIMIZATION
app_name: "proximal_gradient"
parameter_name: "proximal_gradient_weight"


training {
format: PROTO
files: "../data/recordio/rcv1_part_.*"

}

# will use "parameter_name + node_id" as the output file name
model_output {
format: TEXT
}

loss {
type: LOGIT
}

penalty {
type: L1
coefficient: 1
}

learner {
type: PROXIMAL_GRADIENT
learning_rate: .8
}

block_iterator {
# mini-batch updating. It is the number of examples in a block (mini-batch
# size), If <= 0, then use the whole data
example_block_size: -1

# block-coordinate updating. We divide a feature group into feature_block_ratio
# x nnz_feature_per_instance blocks. If = 0, then use all features
feature_block_ratio: 4

max_pass_of_data: 6

# bounded-delay consistency
max_block_delay: 1

# convergance critiria. stop if the relative objective <= epsilon
epsilon: 5e-3
}
