# configuration to run l1-regularized logistic regression on ctr4m
# see src/proto/app.proto for more details
# a sample way to run
# mpirun -np 6 ./ps_mpi -num_servers 1 -num_workers 4 -num_threads 2 -app ../config/ctr_l1lr.config

type: RISK_MINIMIZATION
app_name: "CTR"
parameter_name: "CTR_w"

model_output {
format: TEXT
}

training {
format: PROTO
files: "../data/recordio/CTRa/part_.*"
# files: "../data/recordio/CTRb/part_*"

## gcc-4.9 or LLVM 3.4 is need for more advanced regex
# files: "../data/recordio/ctr64small/part_[0-1]"
}

# lambda * \| w \|_1
penalty {
type: L1
coefficient: .1
}

block_iterator {
# turn it off for debug use
random_feature_block_order : true

# block-coordinate updating. We divide a feature group into feature_block_ratio
# x nnz_feature_per_instance blocks. If = 0, then use all features
feature_block_ratio : 4

max_pass_of_data : 20

# bounded-delay consistency
max_block_delay : 5

# convergance critiria. stop if the relative objective <= epsilon
epsilon : 1e-3
}

block_coord_l1lr {

delta_init_value : 1
delta_max_value : 5

# increasing this number reduces the effect of kkt filter.
kkt_filter_threshold_ratio : 1

# turn it off when data is very small...
# enable_multi_thread : true

# auc_goodness : 1000
}
