# a sample configuration of sychronized gradient descent
# see src/proto/app.proto for more details
type: RISK_MINIMIZATION
app_name: "gradient_descent"
parameter_name: "gradient_descent_weight"

training {
format: BIN
files: "../data/bin/rcv1_Y"
files: "../data/bin/rcv1_X"
}

loss {
type: LOGIT
}

penalty {
type: L2
coefficient: 0
}

learner {
type: GRADIENT_DESCENT
learning_rate: 1
}

block_iterator {
example_block_size: -1
feature_block_ratio: 0
max_pass_of_data: 11
max_block_delay: 0 # xcxxx
}
