# a sample configuration of sychronized gradient descent
# see src/proto/app.proto for more details

type: RISK_MINIMIZATION
app_name: "gradient_descent"
parameter_name: "gradient_descent_weight"

training {
format: PROTO
files: "../data/recordio/rcv1_.*"
}

# will use "parameter_name + node_id" as the output file name
model_output {
format: TEXT
}

loss {
type: LOGIT
}

penalty {
type: L2
coefficient: 0
}

learner {
type: GRADIENT_DESCENT
learning_rate: .01
}

block_iterator {
max_pass_of_data: 40
epsilon: 1e-4
}
