# configuration to run l1-regularized logistic regression on rcv1
# see src/proto/app.proto for more details
# a sample way to run
# mpirun -np 4 ./ps_mpi -num_servers 1 -num_workers 2 -app ../config/rcv1_l1lr.config

type: RISK_MINIMIZATION
app_name: "rcv1"
parameter_name: "rcv1_w"

training {
format: PROTO
files: "../data/recordio/rcv1_part_.*"
}

# lambda * \| w \|_1
penalty {
type: L1
coefficient: 1
}

block_iterator {
# turn it off for debug use
random_feature_block_order : true

# block-coordinate updating. We divide a feature group into feature_block_ratio
# x nnz_feature_per_instance blocks. If = 0, then use all features
feature_block_ratio : 4

max_pass_of_data : 20

# bounded-delay consistency
max_block_delay : 1

# convergance critiria. stop if the relative objective <= epsilon
epsilon : 1e-3
}

block_coord_l1lr {
# reduce these numbers for harder dataset
delta_init_value : 5
delta_max_value : 10

# increasing this number reduces the effect of kkt filter.
kkt_filter_threshold_ratio : 100

# may slow down the computation if data is small...
enable_multi_thread : false
}
